In [1]:
import numpy as np
import pandas as pd
import pysindy as ps
from pysindy.differentiation import FiniteDifference
from pysindy.optimizers import STLSQ
THRESHOLD = 0.025
MAX_ITERATIONS = 10

In [5]:
df = pd.read_csv("./pit_data/processed_SP5.csv", usecols=["Time", "VWC_20cm", "VWC_50cm", "VWC_160cm"])
df

                Time  VWC_20cm  VWC_50cm  VWC_160cm
0       10/1/09 0:00       NaN       NaN        NaN
1       10/1/09 1:00       NaN       NaN        NaN
2       10/1/09 2:00       NaN       NaN        NaN
3       10/1/09 3:00       NaN       NaN        NaN
4       10/1/09 4:00       NaN       NaN        NaN
...              ...       ...       ...        ...
26300  9/30/12 20:00     0.203     0.167      0.190
26301  9/30/12 21:00     0.203     0.166      0.189
26302  9/30/12 22:00     0.201     0.166      0.189
26303  9/30/12 23:00     0.199     0.164      0.187
26304   10/1/12 0:00     0.198     0.163      0.187

[26305 rows x 4 columns]

In [ ]:
"""
Uses PySINDy to find the equation that best fits the data u.
"""

optimizer = STLSQ(threshold=THRESHOLD, max_iter=MAX_ITERATIONS)
differentiation_method = FiniteDifference()

model = ps.SINDy(optimizer=optimizer,
                 differentiation_method=differentiation_method,
                 feature_names=["theta"],
                 discrete_time=False)

model.fit(u, t=t)
model.print()
logging.info("xi: %s", model.coefficients().T)